@import '../../styles/app';

.products-list {
  .v-card__title {
    .v-input {
      max-width: 45%;

      @include media-breakpoint-up(md) {
        max-width: 20%;
      }
    }
  }

  .v-data-table {
    white-space: nowrap;

    .v-text-field>.v-input__control>.v-input__slot {

      &:after,
      &:before {
        border: none !important;
      }
    }

    .v-data-table__checkbox.v-simple-checkbox {
      .v-icon.mdi-checkbox-marked {
        color: $primary;
      }
    }

  }

}



.v-data-table {
  .v-toolbar {
    height: 50px !important;

    .v-toolbar__content {
      height: 50px !important;

      .v-toolbar__title{
        font-size: 1rem;
      }
    }
  }
  .v-data-footer{
    .v-data-footer__select{
      .v-select{
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }

  td {
    font-size: 0.7rem !important;
    height: 38.4px !important;

    padding-right: 12.8px !important;
    padding-left: 12.8px !important;
  }

  tr:not(.v-data-table__progress) {
    th {
      font-size: 0.7rem !important;
      height: 38.4px !important;

      padding-right: 12.8px !important;
      padding-left: 12.8px !important;
    }
  }



  .v-data-footer {
    font-size: 0.7rem !important;

  }

}


.sub-table {

  .sub-table-container {
    width: fit-content;
    background-color: transparent;
    transform: translateY(-5px);
    border-radius: 5px;
  }
}